.wrap {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
div.header {
  display: block;
  font-size: 1.75em;
  padding: 0.3em 0 0 2.5%;
  margin: 0 0 0.5em 0;
  letter-spacing: 1px;
  font-style: italic;
  font-weight: bold;
}
div.header img {
    height: 1.5em;
    width: auto;
    vertical-align: middle;
    margin: 0 0.5em .2em .4em;
}
div.header span {
  position: absolute;
  right: 0;
  top: 0;
}
div.header button {
  border: none;
  cursor: pointer;
  padding: .3em 2em 0;
  vertical-align: middle;
  transition: all 0.25s;
}
div.header button:hover {
  color: #abd7ff;
  opacity: .8!important;
}
.logout {
  padding: 0.6em 1.3em!important;
}
.logout .mat-icon {
  font-size: 30px;
}
.menu,.content {
    display: inline-block;
    vertical-align: top;
}
.menu {
    width: 13%;

}
.menu ul li {
  padding: 7% 0 7% 24%;
  cursor: pointer;
  font-size: 135%;
  transition: all 0.25s;
}
.menu ul li label {
  cursor: pointer;
}
.content {
    width: 84%;
}
.content.only {
  width: 90%;
  margin: auto;
  display: block;
}
.content > div {
    display: inline-block;
}
.menu ul li .mat-icon {
    display: inline-block;
    margin: 0 .5em 0 0;
    vertical-align: bottom;
    opacity: .5;
}

.mat-menu-item .mat-icon {
  margin-right: 6px;
}
div.header button label {
  display: none;
}
@media only screen and (max-width:1600px) {

  .menu {
    width: 100%;
    position: absolute;
    top: .8em;
    right: 8em;
    text-align: right;
  }
  .menu ul li {
    display: inline-flex;
    padding: 0 .4em;
    position: relative;
  }
  .menu ul li label,
  div.header button label {
    display: none;
    position: absolute;
    left: -30%;
    top: 2.2em;
    background-color: rgba(24, 24, 24, 0.98);
    color: #fff;
    font-size: 0.8em;
    text-align: center;
    padding: 0.3em!important;
    border-radius: 0.2em;
    width: 5em;
  }
  .menu ul li label:first-child {
    width: 3em;
  }
  .menu ul li:hover > label {
    display: block;
  }
  .menu ul li .mat-icon {
    font-size: 28px;
  }
  .content {
    width: 93%;
    margin: auto;
    display: block;
  }

}
